.hyperlink  {
    -fx-text-fill: blue;
    -fx-underline: true;
    -fx-border-width: 0;
    -fx-font-size: 16;
}

.main-pane {
    -fx-background-color:  #f0f0f0;
}

.label {
    -fx-font-size: 16;
}

.h1 {
    -fx-font-size: 32;
    -fx-font-weight: bold;
}

.pcb-top-trace {
    -fx-stroke: red;
    -fx-fill: red;
}

.pcb-bottom-trace {
    -fx-stroke: blue;
    -fx-fill: blue;
}

.pcb-solder-pad {
    -fx-stroke: navy;
    -fx-fill: navy;
}

.check-box {
    -fx-font-size: 16;
}

.radio-button {
    -fx-font-size: 16;
}

.button {
    -fx-font-size: 16;
}

.red-background {
   -fx-background-color: linear-gradient(#ff2400, #be1d00);
   -fx-text-fill: white;
}

.titled-pane {
    -fx-font-size: 16;
}

.pcb-top-toolpath {
    -fx-stroke: #191970;
    -fx-fill: transparent;
}

.pcb-bottom-toolpath {
    -fx-stroke: #191970;
    -fx-fill: transparent;
}

.pcb-drill-point {
    -fx-stroke-width: 1;
    -fx-stroke: transparent;
    -fx-fill: black;
}

.pcb-contour-milling {
    -fx-stroke: magenta;
    -fx-fill: transparent;
}

.pcb-syringe-toolpath {
    -fx-stroke: gold;
    -fx-fill: transparent;
}

.pcb-clear-polarity {
    -fx-stroke: white;
    -fx-fill: white
}

.pcb {
    -fx-background-color: #ddfbdd;
}

.pcb-selection-rect {
    -fx-stroke: black;
    -fx-fill: transparent;
}

.board-selection-rect {
    -fx-stroke: darkgreen;
    -fx-fill: transparent;
}

.pcb-disabled {
     -fx-stroke: #dcdcdc;
}

.pcb-selection {
    -fx-stroke: cyan;
}

.pcb-frame {
    -fx-stroke: black;
    -fx-stroke-width: 0.15;
    -fx-fill: transparent;
}

.pcb-veil {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.pcb-popup-pane {
    -fx-background-color: #f0f0f0;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 4;
}

.pcb-popup-pane-header {
    -fx-background-color: #e0e0e0;
    -fx-border-width: 0;
    -fx-border-radius: 4;
}

.error-message {
   -fx-text-fill: red;
}

.validation-error {
    -fx-background-color: #FF3333!important;
    -fx-text-fill: white!important;
}

#licensePane {
     -fx-padding: 0 30 0 30;
 }


.settings-group {
     -fx-border-color: -fx-box-border;
     -fx-border-insets: -1 0 0 0;
     -fx-border-radius: 3;
     -fx-background-color: linear-gradient(from 0px 0px to 0px 5px, derive(-fx-background, -6%), -fx-background);

    -fx-padding: 10 10 10 10;
}

.settings-group-header {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.toolbar-button {
}
.toolbar-button:hover {
}

.breadcrumb-bar {
    -fx-padding: 0;
}
.breadcrumb-bar .button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 3px 6px 4px 6px;
    -fx-border-color: transparent #6e737d transparent rgba(255,255,255,0.3) , transparent rgba(255,255,255,0.3) transparent transparent;
    -fx-border-insets: 0, 0 1 0 1;

    -fx-padding: 0 3 0 3;
    -fx-border-color: null;
    -fx-border-insets: 0;
    -fx-border-image-source: url("crumb.png");
    -fx-border-image-slice: 1 10 1 10 fill;
    -fx-border-image-width: 1 10 1 10;
    -fx-border-image-repeat: stretch;
}
.breadcrumb-bar .button:focused {
    -fx-border-image-source: url("crumb-focused.png");
}
.breadcrumb-bar .button:hover {
    -fx-background-color: rgba(255,255,255,0.4);
    -fx-background-color: null;
    -fx-border-image-source: url("crumb-hover.png");
}
.breadcrumb-bar .only-button {
    -fx-border-image-width: 0 0 0 0;
    -fx-border-image-repeat: stretch;
    -fx-border-image-source: url("crumb-selected.png");
    -fx-border-color: transparent #6e737d transparent rgba(255,255,255,0.3) , transparent rgba(255,255,255,0.3) transparent transparent;
    -fx-border-insets: 0 0 1 0, 1;
}
.breadcrumb-bar .only-button:hover {
    -fx-border-image-source: url("crumb-selected.png");
    -fx-border-image-insets: 0 0 1 0;
}
.breadcrumb-bar .only-button:focused {
    -fx-border-color: -fx-focus-color;
    -fx-border-width: 1.4;
}
.breadcrumb-bar .first-button {
    -fx-border-image-insets: 0 -5 1 0;
    -fx-border-image-width: 0 10 0 0;
    -fx-border-image-repeat: stretch;
    -fx-padding: 0 3 0 6;
}
.breadcrumb-bar .first-button:focused {
    -fx-border-color: transparent transparent transparent -fx-focus-color;
    -fx-border-width: 1.4;
}
.breadcrumb-bar .middle-button {
    -fx-border-image-insets: 0 -5 1 -4;
}
.breadcrumb-bar .last-button {
    -fx-border-image-insets: 0 0 0 -4;
    -fx-border-image-width: 0 0 0 10;
    -fx-border-image-repeat: stretch;
    -fx-border-image-source: url("crumb-selected.png");
    -fx-border-color: transparent #6e737d transparent transparent , transparent rgba(255,255,255,0.2) transparent transparent;
    -fx-border-insets: 0 0 1 0, 1;
}
.breadcrumb-bar .last-button:hover {
    -fx-border-image-source: url("crumb-selected.png");
}
.breadcrumb-bar .last-button:focused {
    -fx-border-color: transparent -fx-focus-color transparent transparent;
    -fx-border-width: 1.4;
}

.popover  {
        -fx-background-color: white;
        -fx-effect: dropshadow( gaussian, black , 10 , 0.1, 2, 2);
 }

.error-box {
    -fx-border-color: #be1d00;
    -fx-border-width: 3.0;
    -fx-border-radius: 5.0;
    -fx-padding: 5.0;
    -fx-background-color: #ffe0e0;
}


.status-NOT_CONNECTED {
    -fx-stroke: #555555;
    -fx-stroke-width: 2;
    -fx-fill: #aaaaaa;
}

.status-ERROR {
    -fx-stroke: #bb0000;
    -fx-stroke-width: 2;
    -fx-fill: #ff0000;
}

.status-NOT_HOMED {
    -fx-stroke: #bbbb00;
    -fx-stroke-width: 2;
    -fx-fill: #ffff00;
}

.status-OK {
    -fx-stroke: #00bb00;
    -fx-stroke-width: 2;
    -fx-fill: #119911;
}

.status-RUNNING {
    -fx-stroke: #00bb00;
    -fx-stroke-width: 2;
    -fx-fill: #00ff00;
}
